/* CSS for navigation bar */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 15%;
  z-index: 10;
  min-height: 15%;
  min-height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: black;
  color: white;
  padding: 0px 0px;
}

.navlist {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: larger;
}
